.characters__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-gap: rem(8);
  justify-content: center;
  justify-items: center;
  padding: rem(15);
  max-width: rem(1100);
  margin: 0 auto;
  @include tablet {
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: rem(15);
    padding: rem(10);
  }
  .character__list {
    border-radius: 5px;
    width: rem(150);
    height: rem(200);
    background-color: #1fb0c7;
    &:hover {
      border: 2px solid rgb(85, 254, 1);
      box-shadow: 9px 2px 48px 7px rgba(111, 216, 19, 0.61);
    }
    @include tablet {
      width: rem(250);
      height: rem(300);
    }

    .character__img {
      width: 100%;
    }
    .character__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .character__text-container {
        padding: rem(5);
        font-size: rem(11);
        @include tablet {
          font-size: rem(13);
          padding-left: rem(5);
          padding-right: 0;
        }
        .character__title {
          color: #ebebeb;
          font-size: rem(11);
          margin-bottom: rem(5);
          @include tablet {
            font-size: rem(13);
          }
        }
        .character__text {
          color: #ebebeb;
        }
      }
      .character__icon {
        color: #ebebeb;
        font-size: rem(20);
        margin-top: 0;
        margin-bottom: 0;
        margin-right: rem(5);
        padding-right: 0;
        padding: rem(5);
        display: flex;
        flex-direction: row;

        .status__container {
          margin-left: rem(5);
        }
      }
    }
  }
}

.container__notfound {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ebebeb;
  align-items: center;
  text-align: center;
  font-size: rem(18);
  width: rem(700);
  height: rem(2000);
  img {
    width: 250px;
  }
}
