.card__detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: rem(30);

  .btn__return {
    background-color: rgb(0, 0, 0);
    padding: rem(10);
    display: inline-block;
    width: rem(100);
    height: rem(40);
    text-align: center;
    color: rgb(85, 254, 1);
    border-radius: 60px;
    border: 2px solid rgb(85, 254, 1);
    margin: 0 auto;
    margin-top: rem(20);
    font-size: rem(18);
    transition: all 1s ease;
    cursor: pointer;
    &:hover {
      background-color: rgb(85, 254, 1);
      color: rgb(0, 0, 0);
    }
  }

  .card__container {
    background-color: #1fb0c7;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: rem(250);
    padding: rem(10);
    border-radius: 8px;
    @include tablet {
      padding: rem(30);
      flex-direction: row;
      width: rem(550);
    }
    img {
      width: 100%;
      @include tablet {
        width: rem(220);
      }
    }
    .card__text {
      display: flex;
      flex-direction: column;
      color: #ebebeb;
      line-height: 1.6;
      @include tablet {
        margin-left: rem(20);
        padding-top: rem(10);
      }
      h2 {
        margin: 0;
      }
      .card__title {
        display: flex;
        flex-direction: row;
      }
    }
    .card__status {
      width: rem(30);
      margin-left: rem(10);
      img {
        width: 100%;
      }
    }
  }
}

.container__character--notfound {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ebebeb;
  align-items: center;
  text-align: center;
  font-size: rem(18);
  height: rem(2000);
  img {
    width: 250px;
  }
}
