.form__search {
  text-align: center;
  margin-bottom: rem(10);
  margin-top: rem(10);
  @include tablet {
    margin-bottom: rem(20);
  }
  .input__search {
    width: rem(200);
    height: rem(30);
    border: 3px solid #1fb0c7;
    border-radius: 5px;
    background-color: black;
    color: #1fb0c7;
    padding: rem(6);
    @include tablet {
      width: rem(500);
      height: rem(40);
    }
  }
  .select__filter {
    color: #1fb0c7;
    padding: rem(5);
    margin-top: rem(10);
  }
}
